<html>
    <head>
       <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
       <title>About</title>
    </head>
    <body>
         <div class="main-content">
              {{>header}}
        <img class="portrait" src="/img/home_delivery_old.jpg">
        <p>My name is {{details}}</p>
         </div>
        {{>footer}}
    </body>     
    
</html>