<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">
         <script src="/js/app.js"> </script>
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
                {{>header}}
            <p>Forecast: {{forecast}}</p>
            <p>Location: {{location}}</p>
        </div>
           
          {{>footer}}
    </body>  
     
</html>